*{
    margin: 0;
    padding: 0;
}

:root{
    --colorPrimario1: #BC8156;
    --colorPrimario2: #E6D9B7;
    --colorPrimario3: #0E4B59;
    --colorSecundario1: #D1BFB5;
    --colorSecundario2: #614240;
    --colorSecundario3: #D0B498;
    --colorBase1: #EDEBEA;
    --colorBase2: #1F1E1E;

    --tipography1: "Bebas Neue", sans-serif;
    --tipography2:  "Belgrano", serif;;
}

body{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    /* background-color: var(--colorBase1); */
    overflow: hidden;
}

header{
    padding: 0;
    text-align: center;
    margin-bottom: -350px;
    margin-top: -300px;
}


.invitacion-container{
    border: solid var(--colorPrimario2);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 1280px;
    height: 768px;
    margin: auto;
    background-color: var(--colorPrimario2);
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
}

.container-invitacion{
    border: solid var(--colorBase2);
    background-color: var(--colorBase1);
    width: 432px;
    height: 540px;
    margin: 106px 114px;
    position: absolute;
}

.invitacion-titulo{
    border: solid var(--colorBase2);
}

.invitacion-subtitulo{
    border: solid var(--colorBase2);
}

.container-invitacion h1{
    color: var(--colorBase2);
    font-family: var(--tipography1);
    font-size: 64px;
    margin: 16px;
}

.container-invitacion h2{
    color: var(--colorBase2);
    font-family: var(--tipography2);
    font-size: 32px;
    margin: 16px;
}

.invitacion-info{
    border: solid var(--colorBase2);
    display: flex;
}

.invitacion-lugar{
    border: solid var(--colorBase2);
    padding: 16px 8px;
    width: 191px;
    font-family: var(--tipography1);
    font-size: 20px;
}

.invitacion-hora{
    border: solid var(--colorBase2);
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 241px;
}

.invitacion-hora h4{
    font-family: var(--tipography1);
    font-size: 20px;
    padding: 0px 16px;
}

.invitacion-grafica{
    border: solid var(--colorBase2);
    display: flex;
}

.invitacion-color{
    border: solid var(--colorBase2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}

.cuadrado1{
    width: 45px;
    height: 25px;
    background-color: var(--colorPrimario1);
}

.cuadrado2{
    width: 45px;
    height: 25px;
    background-color: var(--colorPrimario2);
}

.cuadrado3{
    width: 45px;
    height: 25px;
    background-color: var(--colorPrimario3);
}

.cuadrado4{
    width: 45px;
    height: 25px;
    background-color: var(--colorSecundario1);
}

.cuadrado5{
    width: 45px;
    height: 25px;
    background-color: var(--colorSecundario2);
}

.cuadrado6{
    width: 45px;
    height: 25px;
    background-color: var(--colorSecundario3);
}

.invitacion-iconos{
    border: solid var(--colorBase2);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.invitacion-footer{
    border: solid var(--colorBase2);
    display: flex;
    height: 25px;
}

.invitacion-numeral{
    background-color: var(--colorSecundario2);
    width: 191px;
    margin: 4px;
}

.invitacion-numeral h4{
    color: var(--colorBase1);
    text-align: center;
    font-family: var(--tipography1);
    font-size: 16px;
}

.invitacion-color2{
    width: 60%;
    background-color: var(--colorPrimario3);
}

.imagenes{
    background-image: url(/ASSETS/fotos/img-3.png);
    width: 521px;
    height: 676px;
    margin-top: 46px;
    margin-left: 700px;
    position: absolute;
}

.img-left{
    position: absolute;
    top: -20px;
    left: -80px;
    
}

.img-right{
    position: absolute;
    bottom: -20px;
    right: -40px;

}

.container-redes{
    margin-top: 8px;
}


footer{
    padding: 0;
    text-align: center;
    margin-bottom: -350px;
    margin-top: -300px;
}